 <div class="hero-top-banner">
    <div class="container hero-top-banner-container">
      <p class="hero-top-banner-text fs-18 mb-1">
        Stimați clienți/colaboratori,
      </p>

      <p class="hero-top-banner-text fs-18 mb-4">
        Vă informăm că, începând cu data de 31.03.2025, sediul nostru s-a relocat la o nouă adresă:
      </p>

      <p class="hero-top-banner-address fs-18 title mb-1">
        📍 Str. Gheorghe Titeica 212-214 (Floreasca), Sector 2, Bucuresti
      </p>

      <p class="hero-top-banner-address fs-18 title">
        Cladirea Ethos House, etj. 2
      </p>
    </div>
  </div>

  <section class="direct-settlement-page">
  <div class="container direct-settlement-container">
    <h1 class="page-title">CLAUZA DE DECONTARE DIRECTA</h1>

    <p class="page-intro">
      Condiții de asigurare pentru Clauza suplimentară privind Decontarea Directă, atașată
      polițelor de asigurare de răspundere civilă auto
    </p>

    <section class="content-section">
      <h2 class="section-title">INTRODUCERE</h2>

      <p>
        În conformitate cu prevederile prezentei clauze și în schimbul unei prime suplimentare,
        Asigurătorul oferă servicii de decontare directă propriilor Asigurați RCA pentru daunele
        produse vehiculului asigurat prin accidente de vehicule de către terțe persoane vinovate,
        cu asigurare RCA valabilă la data accidentului.
      </p>

      <p>
        Clauza suplimentară privind Decontarea Directă este valabilă numai în cazul în care este
        atașată contractului de asigurare de răspundere civilă auto încheiat pentru vehicul, ea
        neputând fi achiziționată independent de acesta.
      </p>
    </section>

    <section class="content-section">
      <h2 class="section-title">RISCURI ACOPERITE</h2>

      <p>
        În baza prezentei clauze, Asigurătorul, prin mecanismul de decontare directă, acordă
        despăgubiri către propriul asigurat RCA în cazul producerii unui risc acoperit prin
        asigurarea RCA. Prin decontare directă se acordă despăgubiri doar pentru:
      </p>

      <ul class="custom-list">
        <li>
          prejudiciile materiale, inclusiv costuri de radiere și înmatriculare, costuri cu taxe de
          timbru, cheltuieli cu limitarea prejudiciului, dovedite cu acte, cheltuieli aferente
          diminuării valorii vehiculului după reparații, dovedite cu acte sau expertiză;
        </li>
        <li>
          costuri privind readucerea vehiculului la starea dinaintea evenimentului asigurat,
          dovedite cu documente emise prin sisteme specializate sau documente emise în condițiile legii;
        </li>
        <li>
          prejudicii reprezentând consecința lipsei de folosință a vehiculului avariat, inclusiv
          înlocuirea temporară a vehiculului, pe baza opțiunii persoanei prejudiciate;
        </li>
        <li>
          cheltuieli de judecată efectuate de către persoana prejudiciată sau cheltuieli aferente
          în cazul soluționării alternative a litigiului dacă soluția este favorabilă persoanei prejudiciate;
        </li>
        <li>
          cheltuieli legate de transportul vehiculului avariat, aparținând asiguratului, de la locul
          accidentului la locația în care se găsește centrul de constatare daune, la unitatea
          reparatoare aleasă de Asigurat în vederea reparării vehiculului, cel/cea mai apropiat/apropiată
          de locul producerii accidentului sau de domiciliul asiguratului, după caz, dacă respectivul
          vehicul nu se mai poate deplasa prin mijloace proprii.
        </li>
      </ul>
    </section>

    <section class="content-section">
      <h2 class="section-title">
        CONDITII DE APLICARE A CLAUZEI SUPLIMENTARE DE DECONTARE DIRECTA
      </h2>

      <p>
        Decontarea directă între Asigurătorii RCA este aplicabilă numai la îndeplinirea cumulativă
        a următoarelor condiții:
      </p>

      <ul class="custom-list">
        <li>accidentele auto se produc pe teritoriul României;</li>
        <li>vehiculele implicate în accidentele auto sunt înmatriculate / înregistrate în România;</li>
        <li>prejudiciile sunt produse exclusiv vehiculelor;</li>
        <li>ambele vehicule implicate în accidentul auto au asigurare RCA valabilă la data evenimentului;</li>
        <li>prejudiciile exclud vătămările corporale.</li>
      </ul>

      <p>
        Decontarea directă nu afectează dreptul persoanei prejudiciate în urma unui accident auto
        produs de un vehicul asigurat RCA de a exercita acțiunea directă pentru recuperarea
        prejudiciului produs împotriva asigurătorului RCA al persoanei vinovate de producerea
        accidentului auto.
      </p>
    </section>

    <section class="content-section">
      <h2 class="section-title">EXCLUDERI</h2>

      <p>
        Asigurătorul nu acoperă situațiile excluse de către legislația în materie de asigurări RCA
        care se regăsește postată pe site-ul Asigurătorului la următoarea adresă: www.axeria-iard.ro.
      </p>

      <p>
        Prezenta Clauză privind decontarea directă se poate achiziționa de către Asigurat doar
        odată cu încheierea asigurării RCA, fiind parte a acesteia. Astfel, prezenta clauză își
        încetează valabilitatea odată cu încetarea, din orice motive, a asigurării RCA. Prezenta
        clauză nu poate fi denunțată sau reziliată separat.
      </p>

      <p>
        În cazul în care Asiguratul datorează prime sau rate de primă la data plății despăgubirii,
        Asigurătorul poate reține din despăgubire atât primele/ratele de primă a căror scadență a
        fost depășită, cât și ratele scadente viitoare aferente contractului/poliței de asigurare
        la care este anexată prezenta clauză.
      </p>
    </section>
  </div>
</section>