<section class="claims-page">
  <app-banner></app-banner>
  <section class="claims-hero">
    <img src="assets/Images/masina.png" alt="Claims hero" class="claims-hero-image">

    <div class="claims-hero-overlay">

      <div class="claims-hero-grid">
        <div class="claims-hero-title-box center-flex">
          <div class="claims-hero-title-bg center-flex">
            <h1 class="claims-hero-title fs-84 wheight500 color-white ">
              {{ t('claimsHtml001') }}
            </h1>
          </div>
        </div>

        <div class="claims-hero-actions center-flex flex-column">
          <button type="button" class="claims-hero-button fs-24 wheight500" (click)="openRepairShops()">
            {{ t('claimsHtml002') }}
          </button>

          <button type="button" class="claims-hero-button fs-24 wheight500"
            [class.active-button]="activeSection === 'romania'" (click)="showSection('romania')">
            {{ t('claimsHtml003') }}
          </button>

          <button type="button" class="claims-hero-button fs-24 wheight500"
            [class.active-button]="activeSection === 'abroad'" (click)="showSection('abroad')">
            {{ t('claimsHtml004') }}
          </button>

          <button type="button" class="claims-hero-button fs-24 wheight500"
            [class.active-button]="activeSection === 'direct-settlement'" (click)="showSection('direct-settlement')">
            {{ t('claimsHtml005') }}
          </button>

          <button type="button" class="claims-hero-button fs-24 wheight500"
            [class.active-button]="activeSection === 'forms'" (click)="showSection('forms')">
            {{ t('claimsHtml006') }}
          </button>
        </div>
      </div>

    </div>
  </section>

  <!-- PROCEDURA -->
  <section id="claims-dynamic-content" class="claims-procedure-section text-justify-ic">
    <div class="container claims-content-container">
      <h2 class="claims-section-title color-primary-project fs-38 wheight500">
        {{ t('claimsHtml007') }}
      </h2>

      <div class="claims-text-block fs-16 wheight500 color-primary-project">
        <p>
          {{ t('claimsHtml008') }}
        </p>

        <ul class="claims-list">
          <li *ngFor="let coveredItem of coveredItems">{{ coveredItem }}</li>
        </ul>

        <p classs="mt-2">
          {{ t('claimsHtml009') }}
        </p>

        <ul class="claims-list">
          <li *ngFor="let workflowItem of workflowItems">{{ workflowItem }}</li>
        </ul>

        <p>
          {{ t('claimsHtml010') }}
        </p>
        <p>{{ t('claimsHtml011') }}</p>
        <p>{{ t('claimsHtml012') }}</p>
      </div>
    </div>
  </section>

  <!-- ROMANIA -->
  <section *ngIf="activeSection === 'romania'"
    class="claims-dynamic-card-section claims-dynamic-card-section--blue text-justify-ic">
    <div class="container claims-dynamic-card-container">
      <div class="claims-dynamic-card">
        <div class="claims-dynamic-left">
          <h2 class="claims-dynamic-title color-primary-project fs-42 wheight400 text-center-ic">
            {{ t('claimsHtml013') }}
            <br>
            {{ t('claimsHtml014') }}
            <br>
            {{ t('claimsHtml015') }}
          </h2>

          <div class="claims-dots">....</div>

          <p class="claims-dynamic-paragraph fs-20 wheight400 text-center-ic">
            {{ t('claimsHtml016') }}
          </p>

          <button type="button" class="claims-documents-button fs16 wheight400" (click)="showSection('forms')">
            {{ t('claimsHtml017') }}
            <i aria-hidden="true" class="fab fa-opencart"></i>
          </button>
        </div>

        <div class="claims-dynamic-right">
          <div class="claims-steps-list">
            <button type="button" class="claims-step-item fs-16 wheight400"
              [class.claims-step-item--active]="activeRomaniaStep === 1" (click)="toggleRomaniaStep(1)">
              {{ t('claimsHtml018') }}
            </button>

            <div class="claims-step-content" *ngIf="activeRomaniaStep === 1">
              <p>
                {{ t('claimsHtml019') }}
              </p>

              <div class="claims-step-subitems">
                <button type="button" class="claims-hero-button fs14 wheight400 claims-inner-tab-button"
                  [class.claims-inner-tab-button--active]="activeRomaniaStepOneTab === 'amiabil'"
                  (click)="toggleRomaniaStepOneTab('amiabil')">
                  {{ t('claimsHtml020') }}
                </button>

                <button type="button" class="claims-hero-button fs14 wheight400 claims-inner-tab-button"
                  [class.claims-inner-tab-button--active]="activeRomaniaStepOneTab === 'politie'"
                  (click)="toggleRomaniaStepOneTab('politie')">
                  {{ t('claimsHtml021') }}
                </button>
              </div>

              <div class="claims-step-inner-content" *ngIf="activeRomaniaStepOneTab === 'amiabil'">
                <p><strong>{{ t('claimsHtml022') }}</strong></p>

                <p>
                  {{ t('claimsHtml023') }}
                </p>

                <p><strong>{{ t('claimsHtml024') }}</strong></p>

                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml025') }}</li>
                  <li>{{ t('claimsHtml026') }}</li>
                  <li>{{ t('claimsHtml027') }}</li>
                  <li>{{ t('claimsHtml028') }}</li>
                </ul>

                <p>
                  <strong>
                    {{ t('claimsHtml029') }}
                  </strong>
                </p>
              </div>

              <div class="claims-step-inner-content" *ngIf="activeRomaniaStepOneTab === 'politie'">
                <p>
                  {{ t('claimsHtml030') }}
                </p>

                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml031') }} </li>
                  <li>{{ t('claimsHtml032') }}</li>
                  <li>{{ t('claimsHtml033') }}</li>
                </ul>

                <p><strong>{{ t('claimsHtml034') }}</strong></p>

                <p>
                  {{ t('claimsHtml035') }}
                </p>

                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml036') }}</li>
                  <li>{{ t('claimsHtml037') }}</li>
                  <li>{{ t('claimsHtml038') }}</li>
                  <li>{{ t('claimsHtml039') }}</li>
                </ul>

                <p> {{ t('claimsHtml040') }} </p>

                <p><strong>{{ t('claimsHtml041') }}</strong></p>

                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml042') }}</li>
                  <li>{{ t('claimsHtml043') }}</li>
                  <li>{{ t('claimsHtml044') }}</li>
                  <li>{{ t('claimsHtml045') }}</li>
                  <li>{{ t('claimsHtml046') }}</li>
                </ul>

                <p><strong>{{ t('claimsHtml047') }}</strong></p>

                <p> {{ t('claimsHtml048') }} </p>

                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml049') }}</li>
                  <li>{{ t('claimsHtml050') }}</li>
                  <li>{{ t('claimsHtml051') }}</li>
                </ul>

                <p><strong>{{ t('claimsHtml052') }}</strong></p>

                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml053') }}</li>
                  <li>{{ t('claimsHtml054') }}</li>
                  <li>{{ t('claimsHtml055') }}</li>
                  <li>{{ t('claimsHtml056') }}</li>
                </ul>

                <p><strong>{{ t('claimsHtml057') }}</strong></p>

                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml058') }}</li>
                  <li>{{ t('claimsHtml059') }}</li>
                </ul>
              </div>
            </div>

            <button type="button" class="claims-step-item fs-16 wheight400"
              [class.claims-step-item--active]="activeRomaniaStep === 2" (click)="toggleRomaniaStep(2)">
              {{ t('claimsHtml060') }}
            </button>

            <div class="claims-step-content" *ngIf="activeRomaniaStep === 2">
              <p> {{ t('claimsHtml061') }} </p>
              <p><strong>{{ t('claimsHtml062') }}</strong></p>
              <p><strong>{{ t('claimsHtml063') }}</strong></p>
              <p><strong><a href="tel:0219110">{{ t('claimsHtml064') }}</a></strong></p>

              <p><strong>{{ t('claimsHtml065') }}</strong></p>
              <ul class="claims-step-list">
                <li>{{ t('claimsHtml066') }}</li>
                <li>{{ t('claimsHtml067') }}</li>
                <li>{{ t('claimsHtml068') }}</li>
                <li>{{ t('claimsHtml069') }}</li>
                <li>{{ t('claimsHtml070') }}</li>
                <li>{{ t('claimsHtml071') }}</li>
                <li>{{ t('claimsHtml072') }}</li>
              </ul>

              <p><strong>{{ t('claimsHtml073') }} </strong>{{ t('claimsHtml074') }}</p>
            </div>

            <button type="button" class="claims-step-item fs-16 wheight400"
              [class.claims-step-item--active]="activeRomaniaStep === 3" (click)="toggleRomaniaStep(3)">
              {{ t('claimsHtml075') }}
            </button>

            <div class="claims-step-content" *ngIf="activeRomaniaStep === 3">
              <p> {{ t('claimsHtml076') }} </p>

              <p> <strong>{{ t('claimsHtml077') }}</strong> {{ t('claimsHtml078') }} </p>
            </div>

            <button type="button" class="claims-step-item fs-16 wheight400"
              [class.claims-step-item--active]="activeRomaniaStep === 4" (click)="toggleRomaniaStep(4)">
              {{ t('claimsHtml079') }}
            </button>

            <div class="claims-step-content" *ngIf="activeRomaniaStep === 4">
              <div class="claims-step-subitems claims-step-subitems--vertical">
                <button type="button" class="claims-hero-button fs14 wheight400 claims-inner-tab-button"
                  [class.claims-inner-tab-button--active]="activeRomaniaStepFourTab === 'damage-assessment'"
                  (click)="toggleRomaniaStepFourTab('damage-assessment')">
                  {{ t('claimsHtml080') }}
                </button>

                <button type="button" class="claims-hero-button fs14 wheight400 claims-inner-tab-button"
                  [class.claims-inner-tab-button--active]="activeRomaniaStepFourTab === 'document-collection'"
                  (click)="toggleRomaniaStepFourTab('document-collection')">
                  {{ t('claimsHtml081') }}
                </button>
              </div>

              <div class="claims-step-inner-content" *ngIf="activeRomaniaStepFourTab === 'damage-assessment'">
                <p>{{ t('claimsHtml082') }}</p>

                <p>{{ t('claimsHtml083') }}</p>

                <p>{{ t('claimsHtml084') }}</p>
              </div>

              <div class="claims-step-inner-content" *ngIf="activeRomaniaStepFourTab === 'document-collection'">
                <p>{{ t('claimsHtml085') }}</p>

                <p><strong>{{ t('claimsHtml086') }}</strong></p>
                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml087') }}</li>
                  <li>{{ t('claimsHtml088') }}</li>
                  <li>{{ t('claimsHtml089') }}</li>
                </ul>

                <p><strong>{{ t('claimsHtml090') }}</strong></p>
                <p>{{ t('claimsHtml091') }}</p>

                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml092') }}</li>
                  <li>{{ t('claimsHtml093') }}</li>
                  <li>{{ t('claimsHtml094') }}</li>
                  <li>{{ t('claimsHtml095') }}</li>
                  <li>{{ t('claimsHtml096') }}</li>
                </ul>

                <p> <strong> {{ t('claimsHtml029') }} </strong> </p>

                <p><strong>{{ t('claimsHtml097') }}</strong></p>
                <p>{{ t('claimsHtml098') }}</p>

                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml099') }}</li>
                  <li>{{ t('claimsHtml100') }}</li>
                  <li>{{ t('claimsHtml101') }}</li>
                  <li>{{ t('claimsHtml102') }}</li>
                </ul>
              </div>
            </div>

            <button type="button" class="claims-step-item fs-16 wheight400"
              [class.claims-step-item--active]="activeRomaniaStep === 5" (click)="toggleRomaniaStep(5)">
              {{ t('claimsHtml103') }}
            </button>

            <div class="claims-step-content" *ngIf="activeRomaniaStep === 5">
              <p>{{ t('claimsHtml104') }}</p>
              <p> <strong>{{ t('claimsHtml105') }}</strong> </p>
              <p> <strong>{{ t('claimsHtml106') }}</strong> </p>

              <div class="claims-step-subitems claims-step-subitems--vertical">
                <button type="button" class="claims-hero-button fs14 wheight400 claims-inner-tab-button"
                  [class.claims-inner-tab-button--active]="activeRomaniaStepFiveTab === 'three-day-payment'"
                  (click)="toggleRomaniaStepFiveTab('three-day-payment')">
                  {{ t('claimsHtml107') }}
                </button>

                <button type="button" class="claims-hero-button fs14 wheight400 claims-inner-tab-button"
                  [class.claims-inner-tab-button--active]="activeRomaniaStepFiveTab === 'partner-repair-shop'"
                  (click)="toggleRomaniaStepFiveTab('partner-repair-shop')">
                  {{ t('claimsHtml108') }}
                </button>

                <button type="button" class="claims-hero-button fs14 wheight400 claims-inner-tab-button"
                  [class.claims-inner-tab-button--active]="activeRomaniaStepFiveTab === 'total-economic-loss'"
                  (click)="toggleRomaniaStepFiveTab('total-economic-loss')">
                  {{ t('claimsHtml109') }}
                </button>

                <button type="button" class="claims-hero-button fs14 wheight400 claims-inner-tab-button"
                  [class.claims-inner-tab-button--active]="activeRomaniaStepFiveTab === 'other-repair-shop'"
                  (click)="toggleRomaniaStepFiveTab('other-repair-shop')">
                  {{ t('claimsHtml110') }}
                </button>
              </div>

              <div class="claims-step-inner-content" *ngIf="activeRomaniaStepFiveTab === 'three-day-payment'">
                <p>{{ t('claimsHtml111') }}</p>

                <p><strong>{{ t('claimsHtml112') }}</strong></p>
                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml113') }}</li>
                  <li>{{ t('claimsHtml114') }}</li>
                  <li>{{ t('claimsHtml115') }}</li>
                  <li>{{ t('claimsHtml116') }}</li>
                  <li>{{ t('claimsHtml117') }}</li>
                  <li>{{ t('claimsHtml118') }}</li>
                </ul>

                <p><strong>{{ t('claimsHtml119') }}</strong></p>
                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml120') }}</li>
                  <li>{{ t('claimsHtml121') }}</li>
                </ul>

                <p> <strong>{{ t('claimsHtml122') }}</strong> </p>

                <p>{{ t('claimsHtml123') }}</p>
              </div>

              <div class="claims-step-inner-content" *ngIf="activeRomaniaStepFiveTab === 'partner-repair-shop'">
                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml124') }}</li>
                  <li>{{ t('claimsHtml125') }}</li>
                  <li>{{ t('claimsHtml126') }}</li>
                  <li>{{ t('claimsHtml127') }}</li>
                  <li>{{ t('claimsHtml128') }}</li>
                  <li>{{ t('claimsHtml129') }}</li>
                  <li>{{ t('claimsHtml130') }}</li>
                  <li>{{ t('claimsHtml131') }}</li>
                  <li>{{ t('claimsHtml132') }}</li>
                </ul>

                <p><strong>{{ t('claimsHtml133') }}</strong></p>

                <p><strong>{{ t('claimsHtml119') }}</strong></p>
                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml120') }}<< /li>
                  <li>{{ t('claimsHtml134') }}</li>
                  <li>{{ t('claimsHtml135') }}</li>
                  <li>{{ t('claimsHtml136') }}</li>
                </ul>
              </div>

              <div class="claims-step-inner-content" *ngIf="activeRomaniaStepFiveTab === 'total-economic-loss'">
                <p>{{ t('claimsHtml137') }}</p>

                <p><strong>{{ t('claimsHtml112') }}</strong></p>
                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml138') }}</li>
                  <li>{{ t('claimsHtml139') }}</li>
                  <li>{{ t('claimsHtml140') }}</li>
                </ul>

                <p><strong>{{ t('claimsHtml119') }}</strong></p>
                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml120') }}</li>
                  <li>{{ t('claimsHtml136') }}</li>
                </ul>
              </div>

              <div class="claims-step-inner-content" *ngIf="activeRomaniaStepFiveTab === 'other-repair-shop'">
                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml141') }}</li>
                  <li>{{ t('claimsHtml142') }}</li>
                  <li>{{ t('claimsHtml143') }}</li>
                  <li>{{ t('claimsHtml144') }} </li>
                  <li>{{ t('claimsHtml145') }}</li>
                  <li>{{ t('claimsHtml146') }}</li>
                </ul>

                <p><strong>{{ t('claimsHtml119') }}</strong></p>
                <ul class="claims-step-list">
                  <li>{{ t('claimsHtml120') }}</li>
                  <li>{{ t('claimsHtml147') }}</li>
                  <li>{{ t('claimsHtml135') }}</li>
                  <li>{{ t('claimsHtml136') }}</li>
                </ul>

                <p> <strong>{{ t('claimsHtml148') }}</strong> </p>

                <p> <strong>{{ t('claimsHtml149') }}</strong> </p>
              </div>
            </div>
          </div>

          <div class="claims-accident-box">
            <h3 class="claims-accident-title color-primary-project fs-40 wheight400">{{ t('claimsHtml150') }}</h3>

            <div class="claims-accident-icon">
              <img src="assets/Icons/1.png" alt="crash car">
            </div>

            <p class="claims-accident-text fs-18 wheight400 text-center-ic">{{ t('claimsHtml151') }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ABROAD -->
  <section *ngIf="activeSection === 'abroad'" class="claims-dynamic-text-section text-justify-ic">
    <div class="container claims-content-container">
      <h2 class="claims-section-title color-primary-project fs-38 wheight500">{{ t('claimsHtml152') }}</h2>

      <div class="claims-text-block fs-16 wheight500 color-primary-project claims-abroad-content">
        <p>{{ t('claimsHtml153') }}</p>

        <p>{{ t('claimsHtml154') }}</p>

        <p>{{ t('claimsHtml155') }}</p>

        <p>{{ t('claimsHtml156') }}</p>

        <div class="claims-contact-row">
          <a href="tel:0219110"><i class="fa-solid fa-phone-volume"></i></a>
          <p>
            <strong>{{ t('claimsHtml157') }}</strong> {{ t('claimsHtml158') }}
          </p>
        </div>

        <div class="claims-contact-row">
          <a href="mailto:greencard@axeria-iard.ro"><i class="fa-solid fa-envelope"></i></a>
          <p>
            <strong>{{ t('claimsHtml159') }}</strong> {{ t('claimsHtml160') }}
          </p>
        </div>

        <p>{{ t('claimsHtml161') }} </p>

        <p>{{ t('claimsHtml162') }} </p>
      </div>
    </div>
  </section>

  <!-- DIRECT SETTLEMENT -->
  <section *ngIf="activeSection === 'direct-settlement'" class="claims-dynamic-text-section text-justify-ic">
    <div class="container claims-content-container">
      <h2 class="claims-section-title color-primary-project fs-38 wheight500">
        {{ t('claimsHtml163') }}
      </h2>
      <div class="claims-text-block fs-16 wheight500 color-primary-project claims-direct-content">
        <p> {{ t('claimsHtml164') }} </p>
        <ul class="claims-list claims-list-large fs-16">
          <li *ngFor="let directSettlementItem of directSettlementItems" class="fs-16">{{ directSettlementItem }}</li>
        </ul>
        <p> {{ t('claimsHtml165') }} </p>
        <p>{{ t('claimsHtml166') }}</p>
        <ul class="claims-list claims-list-large claims-list-strong">
          <li *ngFor="let directSettlementDocument of directSettlementDocuments">{{ directSettlementDocument }}</li>
        </ul>
        <p class="claims-direct-warning"> {{ t('claimsHtml167') }} </p>
        <p> {{ t('claimsHtml168') }} </p>
        <p> {{ t('claimsHtml169') }} </p>
        <ul class="claims-list claims-list-large">
          <li *ngFor="let directSettlementExtraDoc of directSettlementExtraDocs">{{ directSettlementExtraDoc }}</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- FORMS -->
  <section *ngIf="activeSection === 'forms'" class="claims-dynamic-forms-section text-justify-ic">
    <div class="container claims-forms-container">
      <div class="claims-forms-left">
        <div class="claims-forms-card">
          <div class="claims-forms-caption">{{ t('claimsHtml170') }} </div>
          <h2 class="claims-forms-title fs-42">{{ t('claimsHtml171') }}</h2>
          <p class="claims-forms-text fs-16">{{ t('claimsHtml172') }}</p>
        </div>
      </div>

      <div class="claims-forms-right">
        <div class="claims-forms-links">
          <div class="claims-forms-links">
            <a [href]="formItem.pdfUrl" class="claims-forms-link fs-16" *ngFor="let formItem of formsItems"
              target="_blank" rel="noopener noreferrer">
              <img [src]="formItem.iconUrl" [alt]="formItem.iconAlt" class="claims-forms-link-icon" />
              <span>{{ formItem.title }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="center-flex mt-4 mb-2">
    <button type="button" class="claims-back-top-button" (click)="scrollToTop()">
      <img src="assets/Icons/sageata_sus.png" alt="Claims hero" style="max-width:80px">
    </button>
  </div>

  <section class="claims-bottom-section">
    <div class="claims-bottom-left">
      <div class="claims-bottom-overlay">
        <div class="claims-bottom-content">
          <div class="claims-bottom-caption fs-18 wheight500 color-white">            {{ t('claimsHtml173') }}          </div>

          <h3 class="claims-bottom-title fs-60 wheight500 color-white">
            {{ t('claimsHtml174') }}
            <br>
            {{ t('claimsHtml175') }}
          </h3>

          <p class="claims-bottom-text fs-16 wheight500 color-white text-justify-ic">{{ t('claimsHtml176') }}</p>

          <div class="claims-bottom-links">
            <a class="claims-bottom-link fs-24 wheight500" href="petitii_online/mesaje_transmise.html" target="_blank">
              {{ t('claimsHtml177') }}
              <span>→</span>
            </a>

            <a class="claims-bottom-link fs-24 wheight500" href="tel:0219110">
              {{ t('claimsHtml178') }}
              <span>→</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="claims-bottom-right">
      <div class="claims-bottom-overlay">
        <div class="claims-documents-box">
          <h3 class="claims-documents-title color-primary-project fs-36 wheight500">
            {{ t('claimsHtml179') }}
          </h3>

          <ul class="claims-documents-list fs-18 wheight500">
            <li *ngFor="let documentItem of documentItems">{{ documentItem }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>