<nav class="main-navbar navbar navbar-expand-lg">
  <div class="container-fluid navbar-container fs-18">

    <!-- Desktop logo (left) -->
    <a class="navbar-brand d-none d-lg-flex" routerLink="/">
      <img src="../../../assets/Axeria.png" alt="Axeria" class="navbar-logo">
    </a>

    <!-- Mobile header (call left, logo center, burger right) -->
    <div class="mobile-header d-flex d-lg-none w-100 align-items-center">
      <a class="call-btn mobile-call fs-18" href="tel:0219110">Call center 021.9110</a>

      <a class="mobile-logo mx-auto" routerLink="/">
        <img src="assets/Axeria.png" alt="Axeria" class="navbar-logo mobile-logo-img">
      </a>

      <button
        class="navbar-toggler mobile-burger fs-18"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#mobileMenu"
        aria-controls="mobileMenu"
        aria-label="Open menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- Desktop collapse menu -->
    <div class="collapse navbar-collapse justify-content-center d-none d-lg-flex" id="mainNavbar">
      <ul class="navbar-nav main-menu">
        <li class="nav-item">
          <a class="nav-link fs-18" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            ACASA
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-18" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PRODUSE SI SERVICII
          </a>

          <ul class="dropdown-menu nav-dropdown">
            <li><a class="dropdown-item nav-dropdown-item" routerLink="/restituire-rca">Restituire RCA</a></li>
            <li><a class="dropdown-item nav-dropdown-item" routerLink="/asigurare-rca">Asigurare generale RCA</a></li>
            <li><a class="dropdown-item nav-dropdown-item" routerLink="/daune-rca">Daune RCA</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-18" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PARTENERI
          </a>

          <ul class="dropdown-menu nav-dropdown">
            <li><a class="dropdown-item nav-dropdown-item" routerLink="/parteneri/brokeri">Brokeri</a></li>
            <li><a class="dropdown-item nav-dropdown-item" routerLink="/parteneri/service">Service-uri</a></li>
            <li><a class="dropdown-item nav-dropdown-item" routerLink="/parteneri/contact">Contact parteneri</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/axeria-iard" routerLinkActive="active">AXERIA IARD</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
        </li>
      </ul>
    </div>

    <!-- Desktop right actions -->
    <div class="navbar-actions d-none d-lg-flex">
      <!-- <div class="search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div> -->

      <a class="call-btn" href="tel:0219110">Call center 021.9110</a>
    </div>
  </div>
</nav>

<!-- Mobile OFFCANVAS (slides from right) -->
<div
  class="offcanvas offcanvas-end mobile-offcanvas"
  tabindex="-1"
  id="mobileMenu"
  aria-labelledby="mobileMenuLabel"
>
  <div class="offcanvas-header">
    <div class="mobile-offcanvas-topline"></div>

    <button
      type="button"
      class="btn-close btn-close-white ms-auto"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>

  <div class="offcanvas-body">
    <ul class="mobile-menu list-unstyled">

      <li class="mobile-item">
        <a class="mobile-link active" routerLink="/" data-bs-dismiss="offcanvas">Acasa</a>
      </li>

      <!-- Produse si servicii (collapse) -->
      <li class="mobile-item">
        <button
          class="mobile-link mobile-collapse-btn"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mobileProducts"
          aria-expanded="false"
          aria-controls="mobileProducts"
        >
          Produse si servicii
          <i class="fa-solid fa-chevron-down"></i>
        </button>

        <div id="mobileProducts" class="collapse mobile-submenu">
          <a class="mobile-sublink" routerLink="/restituire-rca" data-bs-dismiss="offcanvas">Restituire RCA</a>
          <a class="mobile-sublink" routerLink="/asigurare-rca" data-bs-dismiss="offcanvas">Asigurare generale RCA</a>
          <a class="mobile-sublink" routerLink="/daune-rca" data-bs-dismiss="offcanvas">Daune RCA</a>
        </div>
      </li>

      <!-- Parteneri (collapse) -->
      <li class="mobile-item">
        <button
          class="mobile-link mobile-collapse-btn"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mobilePartners"
          aria-expanded="false"
          aria-controls="mobilePartners"
        >
          Parteneri
          <i class="fa-solid fa-chevron-down"></i>
        </button>

        <div id="mobilePartners" class="collapse mobile-submenu">
          <a class="mobile-sublink" routerLink="/parteneri/brokeri" data-bs-dismiss="offcanvas">Brokeri</a>
          <a class="mobile-sublink" routerLink="/parteneri/service" data-bs-dismiss="offcanvas">Service-uri</a>
          <a class="mobile-sublink" routerLink="/parteneri/contact" data-bs-dismiss="offcanvas">Contact parteneri</a>
        </div>
      </li>

      <li class="mobile-item">
        <a class="mobile-link" routerLink="/axeria-iard" data-bs-dismiss="offcanvas">Axeria IARD</a>
      </li>

      <li class="mobile-item">
        <a class="mobile-link" routerLink="/contact" data-bs-dismiss="offcanvas">Contact</a>
      </li>
    </ul>
  </div>
</div>