 <div class="hero-top-banner">
    <div class="container hero-top-banner-container">
      <p class="hero-top-banner-text fs-18">
        Stimați clienți/colaboratori,
      </p>

      <p class="hero-top-banner-text fs-18 mb-4">
        Vă informăm că, începând cu data de 31.03.2025, sediul nostru s-a relocat la o nouă adresă:
      </p>

      <p class="hero-top-banner-address fs-18 title">
        📍 Str. Gheorghe Titeica 212-214 (Floreasca), Sector 2, Bucuresti
      </p>

      <p class="hero-top-banner-address fs-18 title">
        Cladirea Ethos House, etj. 2
      </p>
    </div>
  </div>