<div class="home-component-page">
  <div class="image-stored"></div>

  <app-home-component-one></app-home-component-one>

  <section class="home-two-wrapper">
    <div class="about-home-header text-center-ic">
        <h2 class="about-home-title color-primary-project fs-50 wheight500">
          AXERIA IARD
        </h2>

        <div class="about-home-title-line"></div>

        <p class="about-home-intro color-primary-project fs-20 wheight500 margin-center">
          Companie activa pe piata de asigurari din Franta de peste 29 ani, a finalizat procesul de
          notificare in baza dreptului de stabilire, pentru sucursala din Romania, primind aviz favorabil
          de la autoritatea de supraveghere din Franta (Autorité de contrôle prudentiel et de résolution – ACPR),
          cat si de la Autoritatea de Supraveghere Financiara din Romania.
        </p>
      </div>
    <div class="container home-two-container">
      <div class="home-two-row">
        <app-home-component-two class="component-two"></app-home-component-two>

        <div class="img-container-home"></div>
      </div>
    </div>

    <div class="about-home-bottom-note center-flex-align">
      <div class="about-home-bottom-image">
        <img src="assets/Images/masina-1.png" alt="Axeria detail">
      </div>

      <p class="about-home-bottom-text color-primary-project fs-24 text-italic-ic wheight500">
       Prin structura avuta in vedere pentru emiterea politelor si instrumentarea dosarelor de dauna, prin parteneriatele incheiate atat cu brokerii de asigurare cat si cu partenerul local INTARO, compania AXERIA IARD se va pozitiona cat mai aproape de client, astfel incat sa ofere acestora un acces simplu si rapid la serviciile companiei.
      </p>
    </div>
  </section>

  <app-home-component-three></app-home-component-three>
</div>