<section class="about-home-section">
  <div class="about-home-container">

    <div class="about-timeline-panel">
      <div class="about-timeline-item" *ngFor="let timelineItem of timelineItems; let isLast = last">
        <div class="about-timeline-content text-center-ic">
          <div class="about-timeline-eyebrow fs-30  wheight500 text-italic-ic" *ngIf="timelineItem.eyebrow">
            {{ timelineItem.eyebrow }}
          </div>

          <h3 class="about-timeline-title color-primary-project wheight500">
            {{ timelineItem.title }}
          </h3>

          <p class="about-timeline-description color-primary-project fs-18 wheight500">
            {{ timelineItem.description }}
          </p>
        </div>

        <div class="about-timeline-line" *ngIf="!isLast"></div>
      </div>
    </div>

  </div>
</section>